initX.npy
initY.npy
latent_space_data
logs
networks
online_runs
*.pyc
outputs
online_runs_old
ODEs
sim_Z.ipynb
networks_old
slurm-19508894.out
slurm-19508928.out
temp
weather_runs
hyper_opt
plots_paper_L96
train_multi_gpu.sh
predictability.ipynb
